<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="ITestListenerclass"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="Sceenshottaken.TestNGFailedtestcase"/>
      <class name="StockAccounting.TestNGlogoutdetails"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
